{% extends "dashboard.html" %}

{% block morestyle %}
<style>
.profileGrid {
	display: grid;
	grid-template-columns: 10em auto;
}

.profileGrid > div {
	padding-bottom: 0.4em;
}
</style>
{% endblock %}

{% load get_field_value %}

{% block main %}
	{% if object.id == request.user.id %}
		<h1>My Profile</h1>
	{% else %}
		<h1>Profile: {{object.name}}</h1>
	{% endif %}

	{% if request.user.is_staff %}
		<p><a href="/admin/keytrack/person/{{object.id}}/change">Edit</a></p>
	{% else %}
		<p>Only the admin can update the details. Please contact the support team
		if you notice any issues.</p>
	{% endif %}

	<h2>Basic Info</h2>

	<div class="profileGrid">
	{% for field in fields %}
		<div style="grid-column: 1">{{ field.verbose_name }}</div>
		<div style="grid-column: 2">{% get_field_value object field.name %}</div>
	{% endfor %}
	</div>
	
	<h2>SSH Keys</h2>
	{% if sshkeys|length == 0 %}
		<p>Not owning any SSH keys according to Epixel Keytrack.</p>
	{% else %}
		<p>SSH keys owned:</p>
		<ol>
		{% for key in sshkeys %}
			<li>{% if key.is_active %}[Active]{% else %}[Inactive]{% endif %} {{key.pubkey}}</li>
		{% endfor %}
		</ol>
	{% endif %}
	
	{% for lst in lists %}
		<h2>{{lst.heading}}</h2>
		{% if lst.items %}
			<ol>
			{% for item in lst.items %}
				<li>{{ item }}</li>
			{% endfor %}
			</ol>
		{% else %}
			<p>No {{lst.item_name_plural}}.</p>
		{% endif %}
	{% endfor %}
{% endblock %}
