{% extends "dashboard.html" %}

{% block main %}
	<h1>Dashboard</h1>

	{% if request.user.is_authenticated %}
		<p>Welcome, {{person.name}}!
		<a href="{%url 'profile' %}">Click here</a> to view your profile.</p>
	{% endif %}

	{% if not request.user.is_authenticated %}
		<p>Please sign in.</p>
	{% elif request.user.is_staff %}
		{% include "include/admin/dashboard-main.html" %}
	{% else %}
		<p>Check out the resources owned or accessed by you.
		Make sure to let the support team know if you spot
		anything missing or incorrect.</p>
	{% endif %}
{% endblock %}
