{% extends "dashboard.html" %}

{% block morestyle %}
<style>
.objectList li {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}
</style>
{% endblock %}

{% block main %}
	<h1>{{heading}}</h1>

	{% if object_list %}
		<ol class="objectList">
		{% for obj in object_list %}
			{% if urlpattern %}
				<li><a href="{% url urlpattern pk=obj.id %}">{{ obj.name }}</a></li>
			{% else %}
				<li>{{ obj.name }}</li>
			{% endif %}
		{% endfor %}
		</ol>
	{% else %}
		<p>No {{class_plural}} to list.</p>
	{% endif %}
{% endblock %}
